// calendar overall styles
.calendar{
    width: 100%;
    text-align: center;
    // background-color: #f7f9ff;
}

// calendar title styles
.calendarTitle{
    text-align: center;
}

// table head styles
th{
    text-transform: uppercase;
}