// COLOURS
// dark: 8D91AA
// light: dce2ec
// rgb(71, 74, 97)


// VARIABLES

// colours
$mainColour: #f1f6ff;
$secondaryColour: #8D91AA;
$fontColour: #2c2c2c;
$accentColour: rgb(96, 100, 124);

// fonts
$mainFont: 'Nunito', sans-serif;

// other
